<div class="panel panel-primary text-center">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-star"></span>  nblog - A blog made with NodeJS <span class="glyphicon glyphicon-star"></span>
    </div>
</div>
