<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
    <% include ../partials/header %>
    <%-partial('../partials/message') %>
    <%-body -%>
    <% include ../partials/footer %>
    </div>
  </body>
</html>
