<% if (typeof message != 'undefined' && message.text) { %>
<div id="user-message" class="alert alert-<%=message.class ? message.class : 'warning' %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%-message.text%>
</div>
<script>
  $(function() {
    $('#user-message').delay(4000).fadeOut('slow');
  });
</script>
<%
message = {};
}
%>
