<% layout('layouts/main') -%>
<div class="row">
    <div class="col-md-12 text-center">
        <img src="/images/404.jpg" alt="Your page could not be found.">
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h4>Please try navigating back to the <a href="/">home page</a>.</h4>
    </div>
</div>
<br/><br/>
